<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - DCOUTSIDE</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <header>
        <img src="../dc.png" alt="DC Logo" width="300" height="150">
        <h1>DCOUTSIDE LOGIN</h1>
        <section class="header-actions">
            <a href="/" class="back-button">홈</a>
            <a href="/register" class="back-button">회원가입</a>
        </section>
    </header>
    <main>
        <!-- Login Form -->
        <section class="login-section">
            <form action="/login" method="post">
                <p>
                    <label for="name">아이디:</label><br>
                    <input type="text" id="name" name="name" placeholder="아이디를 입력하세요" required>
                </p>
                <p>
                    <label for="password">비밀번호:</label><br>
                    <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
                </p>
                <button type="submit">로그인</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 copybara DCOUTSIDE</p>
    </footer>

</body>
</html>
