<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WRITE - DCOUTSIDE</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body style="background-color: white;">
    <header>
        <strong class="header-name">logined as: <%= name %></strong>
        <img src="../dc.png" alt="DC Logo" width="300" height="150">
        <h1>DCOUTSIDE WRITE</h1>
        <section class="header-actions">
            <a href="/logout" class="back-button">로그아웃</a>
            <a href="/" class="back-button">홈</a>
        </section>
    </header>

    <main>
        <section>
            <h2>글 작성</h2>
            <form action="/write" method="post">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" required>

                <label for="content">내용</label>
                <textarea id="content" name="content" rows="5" required></textarea>

                <button type="submit">제출</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 copybara DCOUTSIDE</p>
    </footer>
</body>
</html>
